@model rbah.Models.Post
@{
    ViewBag.Title = "Get";
}
<table>
    <tr>
        <td>
            <h1>@Model.title</h1>
        </td>
    </tr>
    <tr>
        <td>
            @Model.body
        </td>
    </tr>
</table>

