body {
    padding: 0px;
    margin:0;
}
div.header{
    width: 70%;
    align-content:center;
    margin: 5px 15% 0 15%;
}
div.header td {
    width: 33%;
}
table {
    border: 1px solid black;
    width: 100%;
    text-align: center;
}
div.content{
    margin-top:20px;
    border-top: 1px solid red;
    padding-top:20px;
    padding-left: 50px;
    padding-right: 50px;
}
table.public {
    border: 1px solid black;
    width: 100%;
    text-align: left;
}
td.autor,th.autor{
    width: 200px;
    padding-left: 10px;
}
table.public th{
    border-bottom: 1px solid blue;
}
input#postHead {
    width: 99%;
}
textarea#postBody{
    width:99%;
    height:500px;
    resize: none;
}
tr.memo{
    height: 100px;
}